{% extends 'blog/base.html' %}

{% block title %}
{% if title %}
<title>{{ title }}</title>
{% else %}    
<title>test1234</title>
{% endif %}
{% endblock title %}

{% block content %}
    
    <article class="media content-section">
        <div class="media-left">
        <img class="img-circle article-img" src="{{ object.author.profile.image.url }}">
        </div>
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1 " href="{% url 'blog:post-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1 " href="{% url 'blog:post-delete' object.id %}">Delete</a>
            </div>
                
            {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    
{% endblock content %}